<ion-header>
  <ion-toolbar>
    <ion-title>Recuperación de cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ng-container *ngIf="!sendEmail;else templateMsg">
      <h1 class="my-3 fw-bold text-center">¿Has olvidado tu contaseña?</h1>
      <p class="text-center">
        Escribenos tu correo electrónico registrado y te enviaremos un enlace
        para poder reestablecer tu contraseña y recuperar tu cuenta. 😃
      </p>
      <div class="mb-3">
        <label for="email">Correo electrónico</label>
        <input
          type="text"
          placeholder="micorreo@mail.com"
          class="form-control"
          [formControl]="email"
          id="email"
        />
        <small *ngIf="validInput()" class="form-text text-danger"
          >El email requerido</small
        >
      </div>
      <ion-button (click)="sendMail()" expand="block">
        Recuperar cuenta
      </ion-button>
    </ng-container>
  </div>
</ion-content>

<ng-template #templateMsg>
  <div class="alert alert-info mt-3" role="alert">
    <h3 class="text-center"><strong>Listo!</strong></h3>
    <p class="text-center">
      Hemos enviado a tu correo un enlace para restablecer tu contraseña
    </p>
  </div>
</ng-template>
