<ion-header>
  <ion-toolbar>
    <ion-title>Restauración de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="user">
    <h6 class="my-3">
      Hola, <span class="fw-bold">{{user.name}} {{user.surname}}</span>
    </h6>
    <div class="mb-3">
      <label for="email">Ingresa una nueva contraseña</label>
      <input
        type="password"
        placeholder="*********"
        class="form-control"
        [formControl]="password"
        id="email"
      />
      <small
        *ngIf="validInput()"
        class="form-text text-danger"
        [innerHTML]="getMsgErrorPass"
      ></small>
    </div>
    <ion-button (click)="restorePassword()" expand="block">
      Cambiar contraseña
    </ion-button>
  </div>
</ion-content>
